<button class="nav-toggle btn btn-primary" (click)="toggleSideNav()">
  <icon name="three-bars" aria-label="Toggle navigation" width="32" height="32"></icon>
</button>

<div class="slide-nav" [class.closed]="closed$ | async">
  <div class="nav-container">
    <h3> Navigation </h3>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link active" href="#">Active</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
    </nav>
  </div>
</div>

<div class="nav-overlay" [class.closed]="closed$ | async" (click)="toggleSideNav()"></div>
