<button class="nav-toggle btn btn-primary" (click)="toggleSideNav()">
  <icon name="three-bars" aria-label="Toggle navigation" width="24" height="24"></icon>
</button>

<div class="slide-nav" [class.closed]="closed$ | async">
  <div class="nav-container">
    <h3> Navigation </h3>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" [class.active]="homeActive$ | async" [routerLink]="'/'">Home</a>
      <a class="nav-link" [class.active]="aboutMeActive$ | async" [routerLink]="'about'">About&nbsp;Me</a>
      <a class="nav-link" [class.active]="projectsActive$ | async" [routerLink]="'projects'">Projects</a>
      <a class="nav-link" [class.active]="resumeActive$ | async" [routerLink]="'resume'">Résumé</a>
      <a class="nav-link" href="https://medium.com/@fsufitch" target="_blank">
        Blog <icon name="link-external"></icon>
      </a>
    </nav>
  </div>
</div>

<div class="nav-overlay" [class.closed]="closed$ | async" (click)="toggleSideNav()"></div>
